.modal-xl {
    img {
        height: 600px;
        object-fit: cover;
        width: 100% !important;

        @media screen and (max-width: 768px) {
            height: 350px;
        }
        
    }
}

.link-modal {
    &.winter-st {
        > p {
            &:first-child {
                margin-bottom: 0;
            }

        }
    }
    p {
        small {
            font-size: 70%;
        }
    }
}